body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f7fc;
    color: #333;
  }

  /* Cabecera */
header {
    margin-bottom: 30px;
    background-color: #004d80;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
  }
  /* Botón de Inicio */
header .btn-primary {
  display: flex;
  align-items: center;
  background-color: #eb9c14;
  border-color: #f5c721;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header .btn-primary:hover {
  background-color: #e0b30e;
  color: #fff;
}

header .btn-primary i {
  margin-right: 10px;
}

header h1 {
  font-size: 2rem;
  font-weight: 600;
  }

  /* Estilos del Modal */
  .modal-header {
    background-color: #004d80;
    color: white;
  }
  .modal-title {
    font-weight: 600;
  }

  .modal-body {
    background-color: #f7f7f7;
  }

  /* Botón de Agregar Usuario */
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  /* Tabla de Pagos */
  .table {
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .table th {
    background-color: #004d80;
    color: white;
  }
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }

  /* Buscador y Filtros */
  #search {
    margin: 20px 0;
    width: 40%;
  }

  /* Footer */
  footer {
    background-color: #f1f1f1;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #ddd;
  }
  footer .btn {
    border-radius: 20px;
    margin: 0 10px;
  }

  footer .btn-outline-primary {
    color: #4aa2eb;
    border: 2px solid #4aa2eb;
  }
  footer .btn-outline-primary:hover {
    background-color: #4aa2eb;
    color: white;
  }
  footer .btn-outline-danger {
    color: #dc3545;
    border: 2px solid #dc3545;
  }
  footer .btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
  }
  .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #004d80;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar .logo img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  display: block;
  width: 100%;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background-color: #a6a9ac
}

.main-content {
  margin-left: 270px;
  padding: 20px;
}
/* Estilo para el botón de Cerrar Sesión */
.btn-danger {
background-color: #dc3545;
color: white;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
padding: 8px 12px;
border-radius: 10px;
text-decoration: none;
transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-danger:hover {
background-color: #c82333;
color: #fff;
}

.btn-danger i {
margin-right: 6px;
font-size: 14px;
}
/* Boton Editar y Eliminar */
button.btn-sm {
padding: 0.75 rem 0.75rem;
}